In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [6]:
df=pd.read_csv("social.csv")

In [7]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
df.Gender[df.Gender=='Male']=0      # Male=0
df.Gender[df.Gender=='Female']=1    # Female=1

/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ubuntu/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
df.head()  # for checking the changes in the Gener columns.

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510      0   19            19000          0
1  15810944      0   35            20000          0
2  15668575      1   26            43000          0
3  15603246      1   27            57000          0
4  15804002      0   19            76000          0

In [27]:
features=df.iloc[:,1:-1].values
features.shape

(400, 3)

In [28]:
labels=df.iloc[:,-1].values
labels.shape

(400,)

In [68]:
train_x,test_x,train_y,test_y=train_test_split(features,labels,test_size=0.2)

In [69]:
# import the preprocessing from sklearn 
# Here it is used for Scaling(features Scaling) of data as we can see the data is so scattered.
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [70]:
train_f=ss.fit_transform(train_x)   # feature scaling of the training data
test_f=ss.transform(test_x)         # feature scaling of the testing data

In [71]:
rf=RandomForestClassifier() # using random forest algorithm for prediction of the data.
rf.fit(train_f,train_y)

/home/ubuntu/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [72]:
predicted=rf.predict(test_f)
predicted

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0])

In [73]:
test_y

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1])

In [74]:
# Here we import the accuracy_score which is available inside the sklearn.metrics.
# we genrally do that to check the accuracy of our model.
from sklearn.metrics import accuracy_score
rf_accuracy=accuracy_score(predicted,test_y)
rf_accuracy

0.875