In [2]:
import pandas as pd

In [3]:
# reading csv
df=pd.read_csv('info.csv')

In [4]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
# extract null values and replace them
from sklearn.preprocessing import Imputer

In [15]:
imp=Imputer(missing_values='NaN',strategy='mean',axis=0)    #column oriented( when axis=0) (clean data)

/home/ubuntu/.local/lib/python3.6/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [16]:
x=df.iloc[:,1].values   # column number 2nd that is age
x

array([44., 27., 30., 38., 40., 35., nan, 48., 50., 37.])

In [17]:
y=df.iloc[:,2].values             # column 3rd that is Salary
y

array([72000., 48000., 54000., 61000.,    nan, 58000., 52000., 79000.,
       83000., 67000.])

In [18]:
features=df.iloc[:,:-1].values
features

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [19]:
label=df.iloc[:,-1].values

In [20]:
label

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [23]:
features[:,1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, nan],
       [35.0, 58000.0],
       [nan, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [25]:
new=imp.fit(features[:,1:3])    # this is fit model)

In [27]:
# transform
new.transform(features[:,1:3]).astype(int)

array([[   44, 72000],
       [   27, 48000],
       [   30, 54000],
       [   38, 61000],
       [   40, 63777],
       [   35, 58000],
       [   38, 52000],
       [   48, 79000],
       [   50, 83000],
       [   37, 67000]])